* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-size: 100%;
}

.home {
    display: flex;
    height: 100vh;
    align-content: stretch;
}

.home__sidebar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    width: 25%;
    padding: 5vh 50px;
    
    text-align: center;
    background-color: #d1d2d4;
}

.home__logo {
    max-width: 100%;
}

.home__title {
    margin-bottom: 5px;

    font-size: 1.8rem;
}

.home__subtitle {
    margin-top: 0;

    font-size: 1.2rem;
}

.home__list {
    width: 75%;
    min-height: 100%;
    padding: 15px 50px;
    overflow-y: scroll;
}

.home__list-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.home__filter {
    width: 200px;
    padding: 5px 15px;
    margin-left: 10px;
}

.sort-label {
    padding-right: 15px;
}

.sort-select {
    border: 1px solid #222;
    padding: 5px 35px 5px 15px;

    background: transparent;
    line-height: 1.5;
}

/* 
.sortButton--poster1 {
    position: relative;

    background: transparent ;
}

.sortButton--poster1:after {
    position: absolute;
    top: 50%;
    left: 80%;

    display: inline-block;

    content: '--';
    transform: translateY(-50%);
}

.sortButton--poster2 {
    background: transparent url(/images/up.png) 90% 50% no-repeat;
}

.sortButton--poster3 {
    background: transparent url(/images/down.png) 90% 50% no-repeat;
} */

.home__footer {
    align-self: flex-end;
}

.home__social {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.home__social-item {
    display: inline-block;
    margin: 0 5px;
}

.home__social-link {
    display: inline-block;
    height: 35px;
    width: 35px;

    transform: translateY(0);
    translate: transform ease-in-out 500ms;
}

.home__social-link:hover {
    transform: translateY(-5px);
}

 /* JobCards */
.jobcard {
    position: relative;

    margin-bottom: 30px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

/* TODO: Make this more BEM friendly */
.jobcard small {
    padding-left: 5px;
    
    font-style: italic;
    color: #4d4b4b;
}

.jobcard__anchor {
    display: inline-block;
    margin-left: 10px;
    color: #4d4b4b;
}

.jobcard__header {
    display: flex;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;

    background: #d1d2d4;
}

.jobcard__content {
    padding: 10px 15px;
}

.jobcard__text {
    margin: 0;
}

.jobcard__author {
    font-weight: bold;
}

.jobcard__footer {
    font-size: 0;
    opacity: 0;
    transition: opacity .25s, font-size .5s .25s;
}

.jobcard__link {
    color: #1d95bd;
}

.jobcard__link:hover {
    color: #1d62bd;    
}

.jobcard__overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 10px 15px;

    background: rgba(255, 255, 255, 0.8);
    color: #212121;
    opacity: 0;
    transition: opacity ease-in-out 300ms;
    font-weight: bold;
}


.jobcard:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.jobcard:hover .jobcard__overlay {
    opacity: 1;
}

.jobcard--active .jobcard__footer {
    font-size: 1rem;
    opacity: 1;
    transition: font-size .25s, opacity .5s .25s;
}

.jobcard--active .jobcard__overlay {
    display: none;
}

.jobcard--active .jobcard__text {
    height: auto;

    white-space: normal;
}

.jobcard--no-links {
    cursor: default;
}

.jobcard--no-links .jobcard__overlay {
    display: none;
}

 /* Media Queries Sugar*/
 @media only screen and (max-width: 1023px) {
    .home {
        display: block;
    } 

    .home__sidebar,
    .home__list {
        width: 100%;
        padding: 15px;
    }

    .home__logo {
        max-width: 150px;
    }

 }

 @media only screen and (max-width: 768px) {

    .jobcard__footer {       
        white-space: normal; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .jobcard__links {
        list-style-type: none;
        padding-left: 5px;
    }

    .jobcard__link{
        display: inline-block;
        margin-bottom: 10px;
    }   
 }